name: Deploy Spring Boot to EC2 (Ubuntu)

on:
  push:
    branches: [ "main" ]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        working-directory: ./back
        run: |
          chmod +x ./gradlew
          ./gradlew clean build -x test
          ls -l build/libs/


      - name: Copy JAR to EC2 via SCP safely
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem
          scp -q -o StrictHostKeyChecking=no \
              -o LogLevel=ERROR \
              -i key.pem \
              back/build/libs/back-0.0.1-SNAPSHOT.jar \
              ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/${{ secrets.EC2_USER }}/app/
          
          

      - name: Restart app on EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/app
            JAR_NAME=back-0.0.1-SNAPSHOT.jar
            

            # 기존 프로세스 종료
            pkill -f "java -jar" || true

            
            # 새 버전 실행
            nohup java -jar $JAR_NAME > app.log 2>&1 &
